<div class="holder">
    <form action="/admin/servicios/agregar" method="post">
        <div>
            <ul id="agregar">
                <li><input type="text" id="" placeholder="Título" name="titulo"></li>
                <li></li>
                <li><textarea name="descripcion" placeholder="Ingresar descripción" id="" cols="30" rows="10"></textarea></li>
                <li><button type="submit">Agregar</button></li>
            </ul>

        </div>
    </form>
</div>